html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding; 0;
  overflow: hidden;
    font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../assets/images/bg.jpg') no-repeat center fixed;
}

/* Form */
.form {
  position: absolute;
  left: calc(50% - 150px);
  top: 20%;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.form .thumbnail {
  width: 250px;
  height: 150px;
  margin: 0 auto 30px;

  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #EF3B3A;
  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #EF3B3A;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

#video {
  z-index: -99;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.hidden {
	display: none !important;
}

.visible {
	display: block !important;
}

.model3D {
	height: 100%;
  width: 100%;
  display: flex;
  float: left;
}
.model3D > canvas {
  margin-left: 50px;
  float: left;
  display: inline-block;
}

.card-title {
  color: black !important;
}

/*CODE DE LA BARRE DINFOS GENERALE choice 1*/
.display-bar-info {
    height: 80px;
    width: 100%;
    position: absolute;
}

.progress-pie-chart, .progress-lvl {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 10px;
    float: right;
}

.progress-pie-chart.gt-50 {
    background-color: #e53935;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    clip: rect(0, 60px, 60px, 30px);
}

.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
    width: 60px;
    height: 60px;
    clip: rect(0, 30px, 60px, 0);
    background: #e53935;
    transform: rotate(60deg);
}

.gt-50 .ppc-progress {
    clip: rect(0, 30px, 60px, 0);
}

.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 60px, 60px, 30px);
    background: #E5E5E5;
}

.ppc-percents, .ppc-lvl {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 50px/2);
    top: calc(50% - 50px/2);
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    display: table;
}

.ppc-percents span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: #e53935;
}

.ppc-lvl span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    color: grey;
}

.pcc-percents-wrapper {
    display: table-cell;
    vertical-align: middle;
}